//@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@jswork/react-full-image/dist/style.css';
@import '@jswork/react-codeflask/dist/style.css';
@import '@jswork/vite-pwa-promotion/dist/style.css';
@import '@jswork/react-breadcrumb/dist/style.scss';

body,
figure {
  margin: 0;
}

.react-interactive-list {
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.ant-form-item {
  &:last-child {
    margin-bottom: 0;
  }

  .react-interactive-list {
    padding: 10px;
    border-radius: 5px;
    background: #eee;
  }
}

.ant-card .ant-card-head {
  background: #fff;
  position: sticky;
  z-index: 1000;
  top: 0;
}
